<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<META http-equiv="Pragma" content="no-cache">
	<META http-equiv="Cache-Control" content="no-cache">
	<META http-equiv="Expire" content="0">
	<link th:href="@{/resource/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/resource/css/ace.min.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/resource/css/font-awesome.min.css}" />
	<script th:src="@{/resource/js/jquery-1.11.0.min.js}"></script>


	<script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='[[${_contextPath}]]/resource/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
	</script>
	<script th:src="@{/resource/js/bootstrap.min.js}"></script>
	<script th:src="@{/resource/js/bootbox.min.js}"></script>
	<script th:src="@{/resource/js/jquery.bootstrap-growl.min.js}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

	<!--[if lt IE 9]>
	<script th:src="@{/resource/js/html5shiv.js}"></script>
	<script th:src="@{/resource/js/respond.min.js}"></script>
	<![endif]-->
	<!--[if IE ]>
	<script th:src="@{/resource/js/jquery.placeholder.ie.js}"></script>
	<![endif]-->


</head>
<body >

<script type="text/javascript">
    $(function() {
        $("#submitBtn").on("click", validate);
    });
    function validate() {
        var username = $("#userId");
        if (username.val() == "") {
            alert('[[#{user.detail.forgotPassword.userAccount}]]');
            username.focus();
            return;
        }
        var password = $("#name");
        if (password.val() == "") {
            alert('[[#{user.detail.forgotPassword.username}]]');
            password.focus();
            return;
        }
        var code = $("#j_code");
        if (code.val() == "") {
            alert('[[#{login.checkkey.check}]]');
            code.focus();
            return;
        }
        $("#formForgotPassword").submit();
    }
    function checkKey() {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == 13) {
            validate();
        }
    }
</script>
<form id="formForgotPassword" class="form-horizontal" th:action="@{/forgotPasswordEmail.do}" method="post" role="form">



	<div class="row" style="padding-top: 160px;">
<div class="col-sm-4" >
</div>
<div class="col-sm-4" >
<div class="panel panel-info" >
<div class="panel-heading text-center">
          <h3 class="panel-title"><i class="icon-cogs"></i> <b th:text="#{common.reset.password}"></b></h3>
        </div>
  <div class="panel-body">
	  <div th:if="${result!=null}">

	  <div th:if="${result==100}">
  <div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 text-center">
			<div class="alert alert-success" th:text="#{|user.detail.forgotPassword.${result}|}">

		</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	  </div>

	  <div th:if="${result!=100}">
  <div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 text-center">
			<div class="alert alert-danger" th:text="#{|user.detail.forgotPassword.${result}|}">

		</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	  </div>

	  </div>

	  <div th:if="${result!=100}">

    <div class="form-group">
		<label class="col-sm-4 control-label no-padding-right" for="userId" th:text="#{system.user.userid}"></label>
		<div class="col-sm-4">
			<input type="text" id="userId" name="userId" th:placeholder="#{system.user.userid}" >
		</div>
		<div class="col-sm-4"></div>
	</div>
    <div class="form-group">
		<label class="col-sm-4 control-label no-padding-right" for="name" th:text="#{system.user.name}"></label>
		<div class="col-sm-4">
			<input type="text" id="name" name="name" th:placeholder="#{system.user.name}" >
		</div>
		<div class="col-sm-4"></div>
	</div>
    <div class="form-group">
		<label class="col-sm-4 control-label no-padding-right" for="j_code" th:text="#{login.checkkey.name}"></label>
		<div class="col-sm-2 no-padding-right">
			<input type="text" name="j_code" id="j_code" th:placeholder="#{login.checkkey.name}" class="col-sm-12 no-padding-right">
		</div>
		<div class="col-sm-5">
			<a href="javascript:void(0);" onclick="getNewkey()" th:title="#{login.image.alt}"> <img id="yzkey" width="80px" height="30px" align="bottom" border="0"
									th:src="@{/checkcode/bimage}"> </a>
		</div>
	</div>
    <div class="form-group">
		<div class="col-sm-3"></div>
		<div class="col-sm-3">
			<button type="button" class="btn btn-primary btn-sm btn-block"
								id="submitBtn" th:text="#{user.detail.applyForResettingPassword}"></button>
		</div>
			<div class="col-sm-3">
			<a th:href="@{/login.do}" class="btn btn-primary btn-sm btn-block" th:text="#{common.back}"></a>
		</div>
		<div class="col-sm-3"></div>
	</div>
	  </div>

	<div th:if="${result==100}">

	<div class="col-sm-4"></div>
	<div class="col-sm-4">
	<a th:href="@{/login.do}" class="btn btn-primary btn-sm btn-block" th:text="#{common.back}"></a>
</div>
<div class="col-sm-4"></div>

	</div>
  </div>
</div>
</div>
<div class="col-sm-4" >
</div>
</div>
</form>
</body>
<script type="text/javascript">
	jQuery(function($) {
		var sErrorCause = $("#sErrorCause").val();
		if (sErrorCause != "") {
			//$(".tips span").show();
			if("1" == sErrorCause){
				alert('[[#{login.error.check}]]');
			}else if("2" == sErrorCause){
				alert('[[#{login.checkkey.error}]]');
			}
		}
	});
	
	//刷新验证码
	function getNewkey(){
		jQuery("#yzkey").attr("src","[[${_contextPath}]]/checkcode/bimage?tem="+Math.floor(Math.random() * 100)).fadeIn();
	}
</script>
</html>