<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="common/model::header"></header>

<body>
<div th:replace="common/model::script"></div>

<div class="row" style="margin:0px;">
    <div class="col-sm-12" style="padding:0px;">
        <div class="panel panel-primary" style="margin-bottom:1px;">


            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i> [[#{accesstype.detail.htitle}]]</h3>
            </div>
            <div class="panel-body" style="background-color:#EEEEEE;padding:8px;">
                <link th:href="@{/resource/css/datepicker.css}"
                      rel="stylesheet"/>
                <link th:href="@{/resource/css/jquery.validator.css}"
                      rel="stylesheet"/>
                <script type="text/javascript"
                        th:src="@{/resource/js/jquery.validator.js}"></script>
                <script type="text/javascript"
                        th:src="@{/resource/js/bootstrap-datepicker.min.js}"></script>
                <script type="text/javascript"
                        th:src="@{|/resource/js/i18n/jquery.validator.#{locale}.js|}"></script>
                <script type="text/javascript"
                        th:src="@{|/resource/js/i18n/datepicker/bootstrap-datepicker.#{locale}.js|}"></script>
                <script type="text/javascript">
                    $(function () {

                        $('#contentForm').validator({
                            theme: "yellow_right"
                        });


                    });
                </script>
                <div class="highlight">
                    <form class="form-horizontal" role="form"
                          th:action="@{/auth/accesstype/detail.do}" id="detailForm" name="detailForm"
                          method="post">

                        <input type="hidden" name="modify" th:value="${modify}"/>
                        <input type="hidden" name="id" th:value="${dataObj.id}"/>

                        <div class="form-group ">
                            <label for="name" class="col-sm-3 control-label"
                                   th:text="#{system.accesstype.name}"></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control input-sm" name="name"
                                       id="name" data-rule="required" th:value="${dataObj.name}">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>


                        <div class="form-group ">
                            <label for="code" class="col-sm-3 control-label"
                                   th:text="#{system.accesstype.code}"></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control input-sm" name="code"
                                       id="code" data-rule="required" th:value="${dataObj.code}">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>


                        <div class="form-group">

                            <div class="col-sm-offset-3 col-sm-1 text-right">

                                <button type="submit" class="btn btn-primary" th:text="#{common.submit}"
                                        th:if="${dataObj != null and dataObj.reserved!=null}">

                                </button>

                            </div>

                            <div class="col-sm-8 text-left">
                                <a th:href="@{/auth/accesstype/list.do}" class="btn" th:text="#{common.back}"> </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>