<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:replace="common/model::header"></header>

<body>
<div th:replace="common/model::script"></div>

<div class="row" style="margin:0px;">
    <div class="col-sm-12" style="padding:0px;">
        <div class="panel panel-primary" style="margin-bottom:1px;">


            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-list"></i> [[#{role.list.htitle}]]</h3>
            </div>
            <div class="panel-body" style="background-color:#EEEEEE;padding:8px;">
                <link th:href="@{/resource/css/netqin.css}" rel="stylesheet"/>
                <script type="text/javascript"
                        th:src="@{|/resource/js/i18n/netqin.list.#{locale}.js|}"></script>
                <div class="panel panel-info">
                    <div class="panel panel-heading" style="margin-bottom: 0px;">
                        <h3 class="panel-title">
                            <i class="icon-search"></i>
                            [[#{common.form.search}]]
                        </h3>
                    </div>
                    <div class="panel-body">


                        <form class="form-inline" id="queryForm"
                              th:action="@{/auth/role/list.do}" method="post" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="name">name</label>
                                <input type="text"
                                       class="form-control" id="name" name="name" autocomplete=off
                                       th:value="${queryBean.name}"
                                       th:placeholder="#{system.role.name}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="description">description</label> <input
                                    type="text" class="form-control" id="description"
                                    name="description" autocomplete=off
                                    th:value="${queryBean.description}"
                                    th:placeholder="#{system.role.desc}">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="authname">authname</label> <input
                                    type="text" class="form-control" id="authname" name="authname"
                                    th:value="${authname}" autocomplete=off
                                    th:placeholder="#{system.auth.name}">
                            </div>
                            <input type="hidden" name="sortName" id="sortName"
                                   th:value="${sorter.sortName}"/>
                            <input type="hidden" name="sortType"
                                   id="sortType" th:value="${sorter.sortType}"/>
                            <button type="submit" id="submitbtn" class="btn btn-default btn-sm"
                                    th:text="#{common.submit}"></button>
                        </form>
                    </div>
                </div>


                <a th:href="@{/auth/role/detail.do}"
                   class="btn btn-success btn-xs" th:text="#{common.create}"></a>
                <button class="btn btn-danger btn-xs" id="delete" th:text="#{common.delete}"></button>

                <form id="resultForm" th:action="@{/auth/role/delete.do}"
                      method="POST">
                    <div class="table-responsive">
                        <table id="resultsTable"
                               class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th><input type="checkbox" name="selectAll" id="selectAll" th:text="#{common.choose}"/>
                                </th>
                                <th class="header" th:text="#{system.role.name}"><i
                                        class="icon-sort"></i><span style="display: none;">name</span></th>
                                <th class="header" th:text="#{system.role.desc}"><i
                                        class="icon-sort"></i><span style="display: none;">description</span></th>
                                <th th:text="#{system.role.authorities}"></th>
                                <th class="header" th:text="#{common.reserved}"><i
                                        class="icon-sort"></i><span style="display: none;">reserved</span></th>
                                <th class="header" th:text="#{common.lastupdate}"><i
                                        class="icon-sort"></i><span style="display: none;">lastupdate</span></th>
                                <th th:text="#{common.operate}"></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="item:${results}">
                                <th><input type="checkbox" value="${item.id}" name="ids"/></th>
                                <td>[[${item.name}]]</td>
                                <td>[[${item.description }]]</td>
                                <td>
                                    <div style="width: 350px;" class="breaktext"
                                         th:title="${item.authorities}">[[${item.authorities}]]
                                    </div>
                                </td>
                                <td>
                                    <span th:if="${item.reserved}" th:text="#{common.yes}"></span>
                                    <span th:if="${item.reserved == false}" th:text="#{common.no}"></span>
                                </td>
                                <td>

                                    [[${#dates.format(item.lastupdate, 'yyyy-MM-dd HH:mm:ss')}]]
                                </td>
                                <td>
                                    <a th:href="@{/auth/role/detail.do(id=${item.id})}"
                                       class="btn btn-info btn-minier">
                                        <span th:if="${item.reserved}" th:text="#{common.view}"></span>
                                        <span th:if="${item.reserved == false}" th:text="#{common.edit}"></span>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </form>
                <div>
                    <div>
                        <div class="row" style="margin:0px;">
                            <div th:replace="common/pagination::pagination"></div>
                        </div>
                        <!-- /.table-responsive -->
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>